:root {
  --lghtblue: #87C1f5;
  --midblue: #0090DC;
  --dkblue: #0061AB;
  --purple: #AB74C3;
  --white: #fff;
  --text: #000230;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Acumin Pro', sans-serif;
  background-image: url(./assets/images/trackuracy-web-box.jpg);
  background-color: var(--lghtblue);
  /* background-position: center; /* All this stuff is causing the background to be blurry */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  color: var(--text);
}

/* Element Selectors */

h3 {
  color: var(--dkblue);
  font-weight: bolder;
}

h6 {
  color: var(--dkblue);
  font-weight: bold;
}

/* img {
  margin: 0;
  padding: 0;
} */

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: var(--white);
  padding: 0 8px 0 8px;
  /* border: 2px solid red; */
  font-size: 12px;
}

/* Class Selectors */

.pages {
  background-color: var(--white);
  margin: 0vh 10vw 0vh 10vw;
  padding: 75px 10px 25px 10px;
}

/* .menu {
  margin-left: 10px;
  padding: 5px;
  border: 2px solid red;
  text-decoration: none;
  color: var(--black);
} */

/* ID Selectors */

#navbar {
  background-color: var(--white);
  padding: 0px 8px;
}

/* #tackuracyMain {
  border: red solid 2px;
  max-height: 52px;
} */

#kenwoodMain {
  height: 25px;
}

/* Media Queries */
/* @media screen and (max-width: 800px) {
  #tackuracyMain {
    height: 52px;
  }
} */