:root {
  --lghtrblue: #e7f3fd;
  --lghtblue: #87C1f5;
  --midblue: #0090DC;
  --dkblue: #0061AB;
  --purple: #AB74C3;
  --white: #fff;
  --text: #000230;
}

/* * {
  border: 1px solid red;
} */

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Acumin Pro', sans-serif;
  /* background-image: url(./assets/images/trackuracy-web-box.jpg); */
  /* background-position: left; */
  background-color: var(--white);
  color: var(--text);
}

/* Element Selectors */

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 50px;
  /* font-weight: bold; */
  color: var(--midblue);
  /* padding-top: 10px; */
  padding-bottom: 20px;
}

h3 {
  color: var(--dkblue);
  font-weight: bolder;
}

h6 {
  color: var(--dkblue);
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--lghtrblue);
  border-top: 1px solid var(--purple);
  padding: 0 8px 0 8px;
  font-size: 12px;
}

/* Class Selectors */

.homepage {
  background-color: var(--white);
  padding: 55px 0px 10vh 0px;
}

.pages {
  padding: 75px 10vw 10vh 15px;
  background-color: var(--white);
  margin-left: 10vw;
}

.hero {
  background: var(--midblue) url(./assets/images/trackuracy-hero.jpg) no-repeat;
  background-size: cover;
  height: 339px;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
  justify-content: flex-end;
  color: white;
  font-size: 1.5rem;
}

.section {
  margin: 75px 10vw 25px 10vw;
  background-color: var(--lghtblue);
}

/* ID Selectors */

#navbar {
  background-color: var(--white);
  padding: 2px 8px;
  border-bottom: 1px solid var(--midblue);
  width: 100%;
  position: fixed;
}

#trackuracy-main {
  height: 30px;
}

#kenwoodMain, #facebook, #instagram, #linkedin, #twitter, #youtube {
  margin: 5px;
  height: 30px;
}

/* Media Queries */

@media screen and (max-width: 500px) {
  .pages {
    margin: 0vh 5vw 0vh 5vw;
  }
  
  .hero {
    padding: 20px;
  }
}