:root {
  --lghtrblue: #e7f3fd;
  --lghtblue: #87C1f5;
  --midblue: #0090DC;
  --dkblue: #0061AB;
  --purple: #AB74C3;
  --white: #fff;
  --text: #000230;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Acumin Pro', sans-serif;
  color: var(--text);
}

/* Element Selectors */

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 50px;
  color: var(--midblue);
}

h3 {
  color: var(--dkblue);
  font-weight: bolder;
}

h6 {
  color: var(--dkblue);
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--purple);
  padding: 0 8px 0 8px;
  font-size: 12px;
  background-color: var(--white);
}

/* Class Selectors */

.homepage {
  padding: 45px 0px 10vh 0px;
}

.pages {
  padding: 75px 5vw 10vh 5vw;
  background-color: var(--white);
}

/* Class Selectors For Home Page */
.hero {
  position: relative;
  height: 339px;
  padding: 0 20px;
}

.hero-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  background-color: rgba(0, 97, 171, 0.7);
  color: #fff;
  padding: 1vh 5vw;
}

/* 
Hero Image

.hero {
  background: var(--midblue) url(./assets/images/trackuracy-hero.jpg) no-repeat;
  background-size: cover;
  height: 339px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 20px;
  justify-content: flex-end;
  color: white;
  font-size: 1.5rem;
  text-align: right;
} */

.content {
  margin: 20px 5vw 25px 5vw;
  text-align: justify;
}

.intro-content {
  display: flex;
}

.intro-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  margin: 5px;
  padding: 10px;
  background-color: var(--lghtrblue);
  border-radius: 5px;
}

.box-4 {
  background: #87C1f5 url(./assets/images/airports.jpg) no-repeat 50% 60%;
  background-size: cover;
  width: 50%;
}

.video {
  margin: 10px 5px;
}

.tracking-content {
  display: flex;
}

.tracking-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}

.tracking-text h3 {
  margin: 10px 0px;
}

.tracking-text p {
  margin: 5px;
  padding: 10px;
  background-color: var(--lghtrblue);
  border-radius: 5px;
}

/* Class Selectors For About Page */
.about-content {
  display: flex;
}

.about-text, .about-images {
  width: 50%;
}

.about-text h3 {
  margin: 20px 0px;
}

.about-text ul {
  background-color: var(--lghtrblue);
  border-radius: 5px;
}

.about-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-gallery {
  list-style: none;
  padding: 0;
  margin: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-gallery li {
  flex: 1 1 125px;
  margin: 3px;
}

.about-gallery img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Class Selectors For Coverage Page */
.tailored, .tier {
  display: flex;
  margin-top: 2em;
}

.tailored-text, .tailored-image, .tier-text, .tier-image {
  width: 50%;
  margin: 5px;
}

.coverage-videos {
  display: flex;
}

.video-container {
  position: relative;
  padding-bottom: 28.125%;
  padding-top: 25;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.cvideo1 {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cvideo2 {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Class Selectors For More Page */

.more-info {
  display: flex;
}

.more-brochure, .more-contact {
  width: 50%;
  margin: 10px;
}

.more-contact {
  padding: 10px;
}

.more-brochure h3, .more-contact h3, .more-turnkey h3 {
  margin-top: 1em;
}

/* ID Selectors */

#navbar {
  background-color: var(--white);
  padding: 2px 8px;
  border-bottom: 1px solid var(--midblue);
  width: 100%;
  position: fixed;
  z-index: 1;
}

#trackuracy-main {
  height: 30px;
}

#trackuracy {
  width: 30%;
}

#video {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

#rtls {
  width: 50%;
  margin: 5px;
  padding: 10px;
}

#brochure:hover {
  box-shadow: 0px 0px 15px var(--text);
}

#kenwood-main {
  max-height: 150px;
  transition: border .15s linear;
}

#kenwood-main:hover {
  border: 5px solid var(--text);
  border-radius: 3px;
}

#email {
  position:relative;
  text-decoration: none;
  color: var(--text);
}

#email:hover {
  color: var(--midblue);
}

#email::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--midblue);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

#email:hover::before {
  transform: scaleX(1);
}

#kenwoodMain, #facebook, #instagram, #linkedin, #twitter, #youtube {
  margin: 5px;
  height: 30px;
}


/* Media Queries */

@media screen and (max-width: 500px) {
  
  /* Home Page */
  #trackuracy {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  
  /* Coverage Page */
  .tailored, .tier {
    flex-direction: column;
  }
  
  .tailored-text, .tailored-image, .tier-text, .tier-image {
    width: 100%;
  }

  .coverage-videos {
    flex-direction: column;
  }
  
  .video-container {
    padding-bottom: 56.25%;
  }

}

@media screen and (max-width: 1200px) {

  /* Home Page */
  .intro-content {
    flex-direction: column;
  }

  .intro-text {
    width: 100%;
  }

  .box-4 {
    height: 300px;
    width: auto;
  }

  .tracking-content {
    flex-direction: column;
  }

  .tracking-text, #rtls {
    width: 100%;
  }

  /* About Page */
  .about-text {
    width: 100%;
  }

  .about-images {
    display: none;
  }

  /* More Page */
  .more-info {
    flex-direction: column;
  }
  
  .more-brochure, .more-contact {
    width: 100%;
    margin: 0;
  }

  .more-contact {
    padding: 0;
  }

}

@media screen and (min-width: 500px) {
  
  /* More Page */

  #brochure {
    max-width: 300px;
    padding: 10px;
    margin: 10px;
  }
}